;このファイルを適宜書き換えた上で各exeと同じディレクトリに置く
;twiviewだけはこれじゃなくてconfig.csを書き換える

[token]
ConsumerKey=
ConsumerSecret=

[database]
Address=localhost

[crawl]
;最後に \ をつける
PictPathProfileImage=D:\profile_image\
PictPaththumb=E:\thumb\

;どっちか長い方の時間が適宜使われる
UserStreamTimeout=300
UserStreamTimeoutTweets=100

DefaultConnections=400
ConnectionCountFactor=1
MaxDBConnections=16

StreamersConnectTimeout=300
RestConnected=true

[crawlparent]
ChildPath=C:\Users\twigaten\Desktop\twidown\twidown.exe
ChildName=twidown
AccountLimit=6000
InitTruncate=true

[hash]
MaxHammingDistance=2
ExtraBlocks=2
LastUpdate=0
