[token]
ConsumerKey=
ConsumerSecret=

[crawl]
PictPathProfileImage=D:\profile_image
PictPaththumb=E:\thumb

;‚Ç‚Á‚¿‚©’·‚¢•û‚ÌŽžŠÔ‚ª“K‹XŽg‚í‚ê‚é
UserStreamTimeout=300
UserStreamTimeoutTweets=100

DefaultConnections=200
ConnectionCountFactor=1
MaxDBConnections=4

StreamersConnectTimeout=300
RestConnected=true

[crawlparent]
ChildPath=C:\Users\twigaten\Desktop\twidown\twidown.exe
ChildName=twidown
AccountLimit=960
ChildSingleThread=false
InitTruncate=true

[hash]
MaxHammingDistance=3
ExtraBlocks=2
LastUpdate=0
