@using twiview.Locale;
@{ViewBag.Title = "登録完了";}
<h2>@ViewBag.Title</h2>

<p>ツイートの収集はまもなく開始されます(数分かかる場合があります)。</p>
<p class="text-warning">ツイートの収集が開始されるまでは、タイムラインは正しく表示されません。</p>
<p>
    以前にログインしたことがあるにも関わらずこの画面が出た場合は<br />
    何らかの理由でツイートの収集が停止していた可能性が高いです。
</p>
<p>@Html.ActionLink(Locale.Auth_BackTop, "Index", "Home", null, new { @class = "btn btn-primary" })</p>
