<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CoreTweet" version="0.8.1.394" targetFramework="net471" />
  <package id="ini-parser" version="2.5.2" targetFramework="net471" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net46" />
  <package id="MySql.Data" version="6.10.6" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net47" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net47" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net462" />
</packages>