@{ViewBag.Title = "このサイトについて";}
@section TwitterCard{@TextHelper.TwitterCardDefault()}

<h2>@ViewBag.Title</h2>
<h3>概要</h3>
<p>
    Twitter上の画像付きツイートを収集し、よく似た画像同士をまとめて表示します。<br />
    <span class="text-warning">
        1ツイートに複数の画像が含まれる場合は、1枚ずつ類似判定を行って別々に表示します。<br />
        また、よく似た画像が見つからなかったツイートは表示されません。
    </span><br />
    収集対象はこのサイトにサインインしたTwitterアカウントのタイムラインです。
</p>
<h3>検索機能</h3>
<p>
    右上の検索窓に、アカウント名(@@*****)または<br />
    ツイートのURL(https://twitter.com/****/status/****)を入力して検索できます。
</p>
<h3>人気のツイート</h3>
<p>
    類似画像が見つかったツイートを、お気に入り(いいねに改称)とリツイートの合計が大きい順に表示します。<br />
    対象は公開アカウントのみです。
</p>
<h3>タイムライン</h3>
<p>@Html.ActionLink("サインインすると使用できます。", "Twitter", "Auth")</p>
<p>
    あなたのタイムラインから、類似画像が見つかったツイートを新しい順に表示します。<br />
    リツイートの表示/非表示の切替ができます。
</p>

<h3>非公開アカウントの表示</h3>
<p>
    サインインすると、あなたがフォローしている非公開アカウントのツイートが表示されるようになります。<br />
    あなた自身が非公開アカウントを所持している場合でもサインインが必要です。
</p>

<h3>ツイートの収集を停止する</h3>
<p>
    <a href="http://www.atmarkit.co.jp/ait/articles/1407/18/news030.html">http://www.atmarkit.co.jp/ait/articles/1407/18/news030.html</a><br />
    ↑の方法で「TwiGaTen」のアプリ連携を解除してください。
</p>

<h3>問い合わせ</h3>
<p>┌（┌；・o・）┐・・・ <a href="https://twitter.com/204504bySE">@@204504bySE</a><br />
    リプライでもなんでも投げてください。<br /><br />
    Twitterアカウントがない場合等は<br />
    <a href="mailto:204504byse@204504byse.info">204504byse@204504byse.info</a><br />
    までメールでお問い合わせください。</p>

<h3>プライバシーポリシー</h3>
@*<p>
    広告掲載に<a href="https://www.google.co.jp/adsense/start/">Google Adsense</a>を使用しています(テスト中)。<br />
    Google Adsenseは、当サイトや他のサイトへのアクセス履歴に基づいて広告を配信します。<br />
    また、アクセス情報の取得にCookieを使用します。<br />
    ↓のサイトにて、Googleによる広告のパーソナライズを無効にすることができます。<br />
    <a href="https://www.google.com/settings/ads">https://www.google.com/settings/ads</a><br />
    Googleの広告配信ポリシーについて、詳しくはこちらを参照してください。<br />
    <a href="http://www.google.co.jp/policies/technologies/ads/">http://www.google.co.jp/policies/technologies/ads/</a>
</p>*@
<p>
    アクセス解析のため、<a href="http://www.google.co.jp/analytics/">Google Analytics</a>を使用しています。<br />
    Google Analyticsでは、トラフィックデータの収集のためにCookieを使用しています。<br />
    このトラフィックデータは匿名で収集されており、個人を特定するものではありません。
</p>
<p>
    Googleの各サービスのプライバシーポリシーについて、詳しくはこちらを参照してください。<br />
    <a href="https://www.google.com/intl/ja/policies/privacy/partners/">https://www.google.com/intl/ja/policies/privacy/partners/</a>
</p>

<h3>ソースコード</h3>
<p>
    <a href="https://github.com/204504bySE/twigaten">https://github.com/204504bySE/twigaten</a><br />
    ┌（┌ ＾o＾）＾o＾）┐動かして遊ぼう！(動くとは言ってない)
</p>

<h3>サーバー機の仕様</h3>
<ul>
    <li>
        ソフトウェア
        <ul>
            <li>OS: Windows Server 2012 R2 Standard</li>
            <li>データベース: MySQL 5.7</li>
            <li>Webサーバー: IIS 8.5 (ASP.NETおいしい)</li>
            <li>ツイート収集ツール等はC#で適当に</li>
        </ul>
    </li>
    <li>
        ハードウェア
        <ul>
            <li>CPU: AMD FX-8300</li>
            <li>RAM: DDR3L-1600 32GB(8GBx4) ECC Unbuffered</li>
            <li>M/B: ASUS M5A78L-M/USB3 (MicroATX, ECCメモリ対応)</li>
            <li>SSD(1): Intel SSD 730 480GB (OS, 画像キャッシュ用)</li>
            <li>SSD(2): Intel SSD DC S3500 1.6TB (データベース用)</li>
            <li>電源: Enhance FLEX 350 ENP7135B-24YGF (350W 80PLUS GOLD, FlexATX, 静音ファン化)</li>
            <li>ケース: Cooler Master Elite 100 (MicroATX用のくせに拡張カードが使えない)</li>
        </ul>
    </li>
</ul>

<h3>使用ツール等</h3>
<ul>
    <li>
        Bootstrap
        <ul>
            <li><a href="http://getbootstrap.com/">http://getbootstrap.com/</a></li>
            <li>Apache License 2.0 <a href="http://www.apache.org/licenses/LICENSE-2.0">http://www.apache.org/licenses/LICENSE-2.0</a></li>
        </ul>
    </li>
</ul>
<p>以下はMIT License <a href="http://opensource.org/licenses/mit-license.php">http://opensource.org/licenses/mit-license.php</a></p>
<ul>
    <li>
        CoreTweet
        <ul>
            <li><a href="http://coretweet.github.io/">http://coretweet.github.io/</a></li>
            <li>日本語版wiki <a href="https://github.com/CoreTweet/CoreTweet/wiki/Home%28%E6%97%A5%E6%9C%AC%E8%AA%9E%29">https://github.com/CoreTweet/CoreTweet/wiki/Home(日本語)</a></li>
        </ul>
    </li>
    <li>
        ini-parser
        <ul>
            <li><a href="https://github.com/rickyah/ini-parser">https://github.com/rickyah/ini-parser</a></li>
        </ul>
    </li>
    <li>
        Bootstrap 3 Datepicker
        <ul>
            <li><a href="http://eonasdan.github.io/bootstrap-datetimepicker/">http://eonasdan.github.io/bootstrap-datetimepicker/</a></li>
        </ul>
    </li>
    <li>
        jQuery Lazy Load XT plugin
        <ul>
            <li><a href="http://ressio.github.io/lazy-load-xt/">http://ressio.github.io/lazy-load-xt/</a></li>
        </ul>
    </li>
    <li>
        jQuery
        <ul>
            <li><a href="https://jquery.com/">https://jquery.com/</a></li>
        </ul>
    </li>
    <li>
        MySql.Data
        <ul>
            <li><a href="https://www.nuget.org/packages/MySql.Data/">https://www.nuget.org/packages/MySql.Data/</a></li>
        </ul>
    </li>
</ul>